<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.sport.sports_reservations.booking.city.mapper.CityMapper">
    
	<resultMap id="CitiesResultMap" type="com.sport.sports_reservations.booking.city.model.CityDTO">
        <id property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
    </resultMap>    
    
   	<select id="findAllCities" resultMap="CitiesResultMap">
    	SELECT 
    		city_id,
    		city_name 
    	FROM cities
    </select>
    
    <select id="findCitiesByUserId" resultMap="CitiesResultMap">
        SELECT DISTINCT 
        	c.city_id, 
        	c.city_name
        FROM cities c
        LEFT JOIN user_cities uc ON uc.city_id = c.city_id
        WHERE c.public_access = true OR uc.user_id = #{userId}
    </select>
    
    
</mapper>	

